.ctrl-end {
    float: right;
}

.change-size {
    font-size: 1.5;
    color: #007bff;
    padding-left: 1px;
}

.change-size-red {
    font-size: 1.5;
    color: red;
    padding-left: 0px;
}

.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }