page-reset-password {
    ::-webkit-scrollbar, *::-webkit-scrollbar {
        display: none;
    }

    .content-md {
        background-color: #F5F5F5;
    } 

    .item-md {
        background-color: #F5F5F5;
    }

    .button-full-md {
        border: 1px solid;
    }

    .item-md {
        padding-left: 1px;
    }

    .input-wrapper {
        margin-right: -15px;
    }
}
