page-dashboard {

    ion-content {
        --overflow: hidden;

        .scroll-content {
            background-color: #000000;
        }
    }

    .swiper-slide img {
        width: 100%;
    }

    .card {
        height: 100%;
    }

    .my-card .item.item-image{
        width: 100vw;
        height: 100%;
        margin-left: -10px;
      }

      .my-card.card{
        overflow: visible;
      }

      img {
          width: 100%;
      }

      .upper-card-header {
        background-size: cover;
      }

    .item-md {
        padding-left: 0px;
        background-color: #000000;
    }

    .item-inner {
        padding-right: 0px !important;
    }


    ion-item {

        .card-content-md {
            padding: 0px;
            height: 100%;
        }

        .titleDiv {
            height: 100%;
            padding-top: 11%;
            font-size: 45pt;
            background: rgba(0, 0, 0, 0.4);
            color: whitesmoke;
        }


    .label-md {
        margin-right: 0px;
    }

        .label-md, .card-md, .card-title, ion-card-header {
            height: 100%;
            text-align: center;
        }
    }
}