/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';
@import '../node_modules/angular2-toaster/toaster.min.css';

.navbar {
    padding: 0.9rem 1rem;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #ffff;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color: rgba(255,255,255,.5);
}

.navbar-dark .navbar-nav .active>.nav-link:hover {
    color: #ffff;
}

.navbar-toggler {
    border: 0px solid transparent !important;
}

.navbar-dark .navbar-toggler-icon {
    background-image: none !important;
    color: rgb(233, 227, 227) !important;
}

.navbar-toggler-icon {
    width: 0.5em !important;
    height: 1.0em !important;
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-left: 2.5rem;
    }
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active {
    color: #fff;
}

/* FORM CONTROL */
.form-control:focus {
    color: black;
    border-color: black;
    box-shadow: 0 0 0 0.2em rgba(0,0,0,0.10);
}

.custom-select:focus {
    border-color: black;
    outline: 0;
    box-shadow: 0 0 0 0.2em rgba(0,0,0,0.10);
}

textarea {
    resize: none;
 }

 .btn-link {
    color: #fff !important;
}

.ngb-dp-weekday[_ngcontent-c8] {
    color: #fff !important;
}

.bg-light {
    background-color: #000 !important;
}

.dropdown-menu {
    font-size: 14px !important;
}